# Log Files
logs/
*.log

# Database Files
*.db

# Ignore built / packaged code
dist/
build/
bin/

# PyCharm Projects
.idea/

# VSCode projects
*.code-workspace

# Pytest dirs
__pycache__/
.pytest_cache/

# Ignore sphinx build data
docs/_build/
docs/_static/
docs/_templates/

# 3RD party dependant code
src/uosinterface/webapp/static/lib/

# Coverage database
.coverage

# Temp / test code
*.scratch.py
*.scratch.sh

# Ignore dev virtual enviroment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
