:root {
  --app-container-bg-color: rgba(0, 0, 0, 0.3);
  --app-container-bd-color: rgba(0, 0, 0, 0.4);
  --app-active-bg-color: #771919;
  --app-flair-bg-color: #262832;
  --app-flair-bd-color: #363848;
}

body {
  background-color: gray;
  color: #f2f2f2;
  font-family: sans-serif;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

h1 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 8px;
  margin-top: 3px;
  text-align: left;
}

h4 {
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 3px;
}

form {
  padding: 0;
}

/* Remove spinner buttons Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove spinner buttons Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* styling for a general content widget */
.app-container {
  background-color: var(--app-container-bg-color);
  border: 1px solid var(--app-container-bd-color);
  border-bottom: 1px solid #000;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  display: block;
  padding: 0.5rem 1rem;
}

.app-container-heading {
  border-top: 10px solid var(--app-flair-bg-color);
}

.footer {
  bottom: 0;
  color: #f2f2f2;
  font-family: sans-serif;
  font-size: 10px;
  left: 0;
  opacity: 0.25;
  position: fixed;
  text-align: center;
  width: 100%;
}

.flash-message {
  min-width: 100px;
  position: relative;
}

.flash-warning {
  color: orange;
}

.flash-error {
  color: indianred;
}

.float-right {
  float: right;
}

.close-pane {
  color: var(--app-flair-bg-color);
  cursor: pointer;
  font-size: 25px;
  position: absolute;
  right: 0.4rem;
  top: 0.2rem;
  transition: 0.3s;
  z-index: 2;
}

.close-pane-div {
  display: none;
}

.close-pane:hover {
  color: white;
  transition: 0.3s;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  max-width: 1000px;
  overflow: hidden;
}

.flex-item {
  background-position: center center;
  background-size: cover;
  flex-basis: 350px;
  margin: 5px 5px;
  padding: 5px 20px;
}

.flex-item-ratio-0 {
  flex-basis: auto;
  flex-grow: 0;
}

.flex-item-ratio-1 {
  flex-grow: 1;
}

.flex-item-ratio-2 {
  flex-grow: 2;
}

.flex-item-ratio-3 {
  flex-grow: 3;
}

.flex-item-ratio-4 {
  flex-grow: 4;
}

.flex-item-ratio-5 {
  flex-grow: 5;
}

.flex-item-ratio-6 {
  flex-grow: 6;
}

.flex-item-ratio-7 {
  flex-grow: 7;
}

.flex-item-ratio-8 {
  flex-grow: 8;
}

.flex-item-ratio-9 {
  flex-grow: 9;
}
