:root {
  --control-bg-color: var(--nav-bg-color);
  --control-fg-color: var(--nav-fg-color);
  --control-act-color: var(--nav-act-color);
  --control-hover-color: var(--nav-hover-color);
  --control-bd-color: #182730;
  --control-txt-color: #f2f2f2;
  --control-shadow-color: rgba(0, 0, 0, 0.4);
}

body {
  background-color: gray;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  font-family: sans-serif;
  color: #f2f2f2;
}

h1 {
  font-size: 25px;
  text-align: left;
  font-weight: bold;
  margin-top: 3px;
  margin-bottom: 8px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #f2f2f2;
  text-align: center;
  font-family: sans-serif;
  font-size: 10px;
}

.control {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.control button:hover {
  background-color: var(--nav-hover-color);
  color: black;
  transition: 0.3s;
}

/* used for styling a large button object */
.control-button-big button {
  float: left;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  background-color: var(--control-bg-color);
  border: 1px solid var(--control-bd-color);
  border-bottom-width: 2px;
  border-radius: 5px;
  color: var(--control-txt-color);
  box-shadow: 3px 3px 5px var(--control-shadow-color);
  transition: 0.3s;
}

/* Used for styling a custom numeric spinner control */
.control-numeric-spinner {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  font-size: 30px;
}

/* used for removing the inner rounds on the spinner buttons */
.control-numeric-spinner-right {
  border-radius: 0 1rem 1rem 0;
}

.control-numeric-spinner-left {
  border-radius: 1rem 0 0 1rem;
}

.control-numeric-spinner input {
  text-align: center;
  vertical-align: center;
  width: 4rem;
  font-size: 25px;
  border-radius: 0;
  background-color: var(--control-fg-color);
  border: 1px solid var(--control-bd-color);
  color: var(--control-txt-color);
  box-shadow: 3px 3px 5px var(--control-shadow-color);
}

.control-numeric-spinner button {
  display: inline-block;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  font-size: 20px;
  background-color: var(--control-bg-color);
  border: 1px solid var(--control-bd-color);
  color: var(--control-txt-color);
  box-shadow: 3px 3px 5px var(--control-shadow-color);
  transition: 0.3s;
  cursor: pointer;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;
}

.flex-item {
  background-position: center center;
  background-size: cover;
  flex-basis: 350px;
  margin: 5px 5px;
  padding: 5px 20px;
  border-radius: 5px;
}

.flex-item-ratio-1 {
  flex-grow: 1;
}

.flex-item-ratio-2 {
  flex-grow: 2;
}

.flex-item-ratio-3 {
  flex-grow: 3;
}

.flex-item-ratio-4 {
  flex-grow: 4;
}

.flex-item-ratio-5 {
  flex-grow: 5;
}
