:root {
  --app-container-bg-color: rgba(0, 0, 0, 0.3);
  --app-container-bd-color: rgba(0, 0, 0, 0.4);
  --app-flair-bg-color: #262832;
  --app-flair-bd-color: #363848;
}

body {
  background-color: gray;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  font-family: sans-serif;
  color: #f2f2f2;
}

h1 {
  font-size: 25px;
  text-align: left;
  font-weight: bold;
  margin-top: 3px;
  margin-bottom: 8px;
}

form {
  padding: 0;
}

/* styling for a general content widget */
.app-container {
  display: block;
  background-color: var(--app-container-bg-color);
  padding: 0.5rem 1rem;
  border: 1px solid var(--app-container-bd-color);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid #000;
}

.app-container-heading {
  border-top: 10px solid var(--app-flair-bg-color);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #f2f2f2;
  text-align: center;
  font-family: sans-serif;
  font-size: 10px;
  opacity: 25%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.flex-item {
  background-position: center center;
  background-size: cover;
  flex-basis: 350px;
  margin: 5px 5px;
  padding: 5px 20px;
}

.flex-item-ratio-0 {
  flex-grow: 0;
  flex-basis: auto;
}

.flex-item-ratio-1 {
  flex-grow: 1;
}

.flex-item-ratio-2 {
  flex-grow: 2;
}

.flex-item-ratio-3 {
  flex-grow: 3;
}

.flex-item-ratio-4 {
  flex-grow: 4;
}

.flex-item-ratio-5 {
  flex-grow: 5;
}

.flex-item-ratio-6 {
  flex-grow: 6;
}

.flex-item-ratio-7 {
  flex-grow: 7;
}

.flex-item-ratio-8 {
  flex-grow: 8;
}

.flex-item-ratio-9 {
  flex-grow: 9;
}
