:root {
  --control-bg-color: var(--app-flair-bg-color);
  --control-fg-color: var(--app-flair-bd-color);
  --control-act-color: var(--nav-act-color);
  --control-hover-color: var(--nav-hover-color);
  --control-bd-color: #182730;
  --control-txt-color: #f2f2f2;
  --control-shadow-color: rgba(0, 0, 0, 0.4);
}

.control {
  padding-bottom: 1rem;
  padding-top: 1rem;
  display: block;
}

.control-switch input {
  appearance: none;
  cursor: pointer;
  background-size: contain;
  border-width: 1px;
  border-color: var(--control-bd-color);
  border-radius: 0.4375rem;
  width: 3rem;
  height: 1.2rem;
  background-color: var(--control-bg-color);
  margin-top: 0;
  margin-right: 0.7rem;
  position: relative;
  float: left;
  box-shadow: 0 3px 5px var(--control-shadow-color);
}

.control-switch input::after {
  content: '';
  position: absolute;
  cursor: pointer;
  border: none;
  z-index: 2;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  margin-top: -0.1875rem;
  background-color: var(--control-txt-color);
  box-shadow: 0 0 5px var(--control-shadow-color);
}

.control-switch input.active {
  background-color: var(--control-act-color);
}

.control-switch input.active::after {
  left: 1.5rem;
  box-shadow: 0 0 5px var(--control-act-color);
}

.control-switch input:disabled,
.control-switch input:disabled:after {
  filter: brightness(60%) saturate(50%);
  cursor: default;
}

/* used for styling a large button object */
.control-button-big button {
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  background-color: var(--control-bg-color);
  border: 1px solid var(--control-bd-color);
  border-bottom-width: 2px;
  border-radius: 5px;
  color: var(--control-txt-color);
  box-shadow: 0 3px 5px var(--control-shadow-color);
  transition: 0.3s;
}

/* Used for styling a custom numeric spinner control */
.control-numeric-spinner {
  position: relative;
  display: flex;
  align-items: stretch;
  width: 100%;
  font-size: 0;
}

/* used for removing the inner rounds on the spinner buttons */
.control-numeric-spinner-right {
  border-radius: 0 1rem 1rem 0;
}

.control-numeric-spinner-left {
  border-radius: 1rem 0 0 1rem;
}

.control-numeric-spinner input {
  font-size: 30px;
  text-align: center;
  vertical-align: center;
  width: 3rem;
  border-radius: 0;
  background-color: var(--control-fg-color);
  border: 1px solid var(--control-bd-color);
  color: var(--control-txt-color);
  box-shadow: 0 3px 5px var(--control-shadow-color);
  z-index: 1;
}

.control-numeric-spinner button {
  font-size: 15px;
  background-color: var(--control-bg-color);
  border: 1px solid var(--control-bd-color);
  color: var(--control-txt-color);
  box-shadow: 0 3px 5px var(--control-shadow-color);
  z-index: 2;
  transition: 0.3s;
  opacity: 80%;
  cursor: pointer;
}

.control button:hover {
  background-color: var(--control-hover-color);
  color: black;
  transition: 0.3s;
}
