:root {
  --nav-bg-color: var(--app-flair-bg-color);
  --nav-hover-color: #bcc0e3;
}

/* general styling for all navigation objects */
.nav {
  background-color: var(--nav-bg-color);
  color: #f2f2f2;
  font-family: sans-serif;
  text-align: center;
  transition: 0.3s;
}

.nav-container {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
}

/* Add a black background color to the top navigation */
.top-nav {
  font-size: 17px;
  overflow: hidden;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */
.top-nav a {
  border-right: 1px solid rgba(0, 0, 0, 0.08);
  display: block;
  float: left;
  padding: 14px 16px;
  text-decoration: none;
}

/* Hide the link that should open and close the topnav on small screens */
.top-nav .icon {
  display: none;
}

.top-nav select {
  appearance: none;
  background-color: transparent;
  border: none;
  float: right;
  margin-right: 16px;
  margin-top: 8px;
  padding: 6px;
}

/* When the screen is less than 769 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 769px) {
  .top-nav a:not(.active),
  select {
    display: none;
  }

  .top-nav a.icon {
    display: block;
    float: right;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 769px) {
  .top-nav.responsive {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .top-nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .top-nav.responsive a {
    display: block;
    float: none;
    text-align: left;
  }

  .top-nav.responsive select {
    display: block;
    float: none;
    text-align: center;
    width: 100%;
  }
}

/* Style the tab */
.tab-nav {
  overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.tab-nav button {
  border: none;
  border-right: 1px solid rgba(0, 0, 0, 0.08);
  cursor: pointer;
  float: left;
  padding: 14px 16px;
}

/* Add an active class to highlight the current page */
.nav a.active,
.nav button.active {
  background-color: var(--app-active-bg-color);
}

/* Change the color of links on hover */
.nav button:hover,
.nav a:hover,
.nav select:hover {
  background-color: var(--nav-hover-color);
  color: #000;
}

/* Style the tab content */
.tab-nav-content {
  display: none;
}

/* Show active content tab */
.tab-nav-content.active {
  display: block;
}
