<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{{ url_for("static", filename="css/navigation.css") }}" rel="stylesheet">
    <link href="{{ url_for("static", filename="lib/FontAwesome/css/all.css") }}"  rel="stylesheet">
    <link href="{{ url_for("static", filename="css/application.css") }}" rel="stylesheet">
    <script src="{{ url_for("static", filename="js/navigation.js") }}"></script>
</head>


<body>
    <!-- Top Navigation Menu -->
<div class="topnav" id="myTopnav">
  <a href="#home" class="active">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>


</body>

</html>