<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

<head>
    <meta charset="UTF-8">
    <title>UOS Dashboard | {% block title %}{% endblock %}</title>
    <link href="{{ url_for("static", filename="css/application.css") }}" rel="stylesheet">
    <link href="{{ url_for("static", filename="css/navigation.css") }}" rel="stylesheet">
					<link href="{{ url_for("static", filename="css/controls.css") }}" rel="stylesheet">
    <link href="{{ url_for("static", filename="lib/FontAwesome/css/all.css") }}" rel="stylesheet">
    <script src="{{ url_for("static", filename="js/navigation.js") }}"></script>
				<script src="{{ url_for("static", filename="js/application.js") }}"></script>
				<script src="{{ url_for("static", filename="js/controls.js") }}"></script>
    {# Any custom page stylesheets can be added in the dynamic block below #}
    {% block stylesheets %}{% endblock stylesheets %}
    {# Any custom page javascript can be added in the dynamic block below #}
    {% block javascript %}{% endblock javascript %}
</head>

<body>
    <div class="nav top-nav nav-container" id="top-navigation">
        {# macro finds active menu element based on routed endpoint #}
        {% macro nav_link(endpoint) %}
        {% if request.endpoint.endswith(endpoint) %}
            active
        {% endif %}
        {% endmacro %}
        <a class="nav top-nav {{ nav_link("device") }}" href="{{ url_for("dashboard_blueprint.route_device")}}" >
								<i class="fa fa-microchip"></i>
									Device
								</a>
        <a class="nav top-nav {{ nav_link("settings") }}" href="{{ url_for("dashboard_blueprint.route_settings")}}" >
									<i class="fa fa-cog"></i>
									Settings
								</a>
        <select id="device-select" class="nav top-nav" onchange="persistDeviceSelection()">
        		<option disabled selected hidden>Select Device</option>
        		{% for device in devices %}
        		<option value="{{ device.connection }}">{{ device.port }}</option>
										{% endfor %}
        </select>
        <a href="javascript:void(0);" class="nav top-nav icon" onclick="dynamicNavigation()">
											<i class="fa fa-bars"></i>
        </a>
    </div>
    <div class="content">
        {% block content %}{% endblock content %}
    </div>
				<div class="footer">
					<p>&copy {{ site_info["year"] }} <a href="https://nulltek.xyz">NullTek</a> <a href="https://github.com/CreatingNull/UART-Operating-System-Interface/blob/master/LICENSE.md">Open-source</a></p>
				</div>
</body>

</html>
