<!-- prettier-ignore -->
{% extends "site_template/base_site.html" %}


{% block title %} Device {% endblock %}

{% block content %}
<div class="flex-container">
  <div class="flex-item flex-item-ratio-1">
    <form action="/" method="POST">
      <!-- prettier-ignore -->
      {{ connect_device_form.hidden_tag() }}
      <div class="control control-button-big">
        <button type="submit" onclick="getSelectedConnection()">
          <i class="fa fa-link"></i>
          Connect
        </button>
      </div>
    </form>
  </div>
  <div class="flex-item flex-item-ratio-5">
    <table>
      <tbody>
        <tr>
          <td>Device Type:</td>
          <td>{{ uos_data["type"] }}</td>
        </tr>
        <tr>
          <td>UOS Version:</td>
          <td>{{ uos_data["version"] }}</td>
        </tr>
        <tr>
          <td>Connection Info:</td>
          <td>{{ uos_data["connection"] }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="flex-item flex-item-ratio-1">
    <div class="nav tab-nav nav-container">
      <button class="nav tab-nav-links active" onclick="switchTab(this)">
        <i class="fa fa-wave-square"></i>
        Digital
      </button>
      <button class="nav tab-nav-links" onclick="switchTab(this)">
        <i class="fa fa-chart-line"></i>
        Analog
      </button>
    </div>
    <div class="tab-nav-content nav-container active">
      <label for="dio-index"><h3>Digital Pin Control</h3></label>
      <div class="control control-numeric-spinner">
        <button
          class="control-numeric-spinner-left"
          onclick="incrementSpinner(this, true, 0)"
        >
          <i class="fa fa-minus"></i>
        </button>
        <input type="text" inputmode="decimal" id="dio-index" value="1" />
        <button
          class="control-numeric-spinner-right"
          onclick="incrementSpinner(this, false, 100)"
        >
          <i class="fa fa-plus"></i>
        </button>
      </div>
      <div class="control control-switch">
        <input type="checkbox" id="io-toggle" onclick="toggleSwitch(this)" />
        <label for="io-toggle">Set Output</label>
      </div>
      <div class="control control-button-big">
        <button>Execute Command</button>
      </div>
    </div>
    <div class="tab-nav-content nav-container">
      <h3>Analog Pin Control</h3>
    </div>
  </div>
</div>
{% endblock %}
