<!-- prettier-ignore -->
{% extends "site_template/base_site.html" %}

{# Page Title #}
{% block title %} Device {% endblock %}

{# Page Specific CSS #}
{% block stylesheets %}{% endblock %}

{# Page Specific JS #}
{% block javascript %} {% endblock %}

{% block content %}
<div class="flex-container">
  {# Device connection form. #}
  <div class="flex-item flex-item-ratio-0">
    <form action="/" method="POST">
      <!-- prettier-ignore -->
      {{ connect_device_form.hidden_tag() }}
      <div class="control control-button">
        <button
          type="submit"
          data-device-persist="{{connect_device_form.device_connection.id}}"
        >
          <i class="fa fa-link"></i>
          Connect
        </button>
      </div>
    </form>
  </div>
  {# Connected device info pane. #}
  <div class="flex-item flex-item-ratio-9">
    <div class="app-container app-container-heading">
      <table>
        <tbody>
          <tr>
            <td>Device Type:</td>
            <td>{{ uos_data["type"] }}</td>
          </tr>
          <tr>
            <td>UOS Version:</td>
            <td>{{ uos_data["version"] }}</td>
          </tr>
          <tr>
            <td>Connection Info:</td>
            <td>{{ uos_data["connection"] }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="flex-container">
  <!-- prettier-ignore -->
  {# Device config info pane #}
  <div class="flex-item flex-item-ratio-1">
    <div class="app-container app-container-heading">
      <table>
        <thead>
          <th>Matrix</th>
        </thead>
      </table>
    </div>
  </div>
  <!-- prettier-ignore -->
  {# Tabbed device pane #}
  <div class="flex-item flex-item-ratio-1">
    {# Tabbed pane navigation header #}
    <div class="nav tab-nav nav-container">
      <button class="nav tab-nav-links active">
        <i class="fa fa-wave-square"></i>
        Digital
      </button>
      <button class="nav tab-nav-links">
        <i class="fa fa-chart-line"></i>
        Analog
      </button>
    </div>
    {# Tabbed pane digital content page #}
    <div class="tab-nav-content app-container active">
      <form action="/" method="POST">
        {{ digital_instruction_form.hidden_tag() }}
        <div
          class="control control-numeric-spinner"
          data-limit-low="0"
          data-limit-high="100"
        >
          <button type="button" class="control-numeric-spinner-left">
            <i class="fa fa-minus"></i>
          </button>
          {{ digital_instruction_form.pin_index(value=1) }}
          <button type="button" class="control-numeric-spinner-right">
            <i class="fa fa-plus"></i>
          </button>
          <div class="control-led"></div>
        </div>
        <div class="control control-switch">
          {{ digital_instruction_form.pin_mode(onclick="toggleSwitch(this)") }}
          {{ digital_instruction_form.pin_mode.label }}
        </div>
        <div class="control control-switch">
          {{ digital_instruction_form.pin_level(onclick="toggleSwitch(this)") }}
          {{ digital_instruction_form.pin_level.label }}
        </div>
        <div class="control control-button">
          <button
            type="submit"
            data-device-persist="{{connect_device_form.device_connection.id}}"
          >
            Execute Command
          </button>
        </div>
      </form>
    </div>
    {# Tabbed pane analogue content page #}
    <div class="tab-nav-content app-container">
      <h3>Analog Pin Control</h3>
    </div>
  </div>
</div>
{% endblock %}
