<!-- prettier-ignore -->
{% extends "site_template/base_site.html" %}


{% block title %} Device {% endblock %}

{% block content %}
<div class="flex-container">
  <div class="flex-item flex-item-ratio-1">
    <form action="/" method="POST">
      <!-- prettier-ignore -->
      {{ connect_device_form.hidden_tag() }}
      <input type="submit" value="Connect" onclick="getSelectedConnection()" />
    </form>
  </div>
  <div class="flex-item flex-item-ratio-5">
    <table>
      <tbody>
        <tr>
          <td>Device Type:</td>
          <td>{{ uos_data["type"] }}</td>
        </tr>
        <tr>
          <td>UOS Version:</td>
          <td>{{ uos_data["version"] }}</td>
        </tr>
        <tr>
          <td>Connection Info:</td>
          <td>{{ uos_data["connection"] }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="flex-item flex-item-ratio-1">
    <div class="nav tab-nav">
      <button class="nav tab-nav-links active" onclick="switchTab(this)">
        Digital
      </button>
      <button class="nav tab-nav-links" onclick="switchTab(this)">
        Analog
      </button>
    </div>
  </div>
</div>
{% endblock %}
